@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kavoon&family=Lato:wght@300&family=Noto+Sans+Khmer&family=Noto+Serif+Toto&family=Open+Sans&family=Patua+One&family=Playfair+Display:wght@500&family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{
        @apply font-noto text-base text-gray-400 m-0 p-0
    }
}
.active li{
    color: red;
}
.active button{
    background-color: rgb(204, 204, 204);
    color: red;
}
